/*
 * Form Labels
 *
 */ 
.dialog-form label {
	display:block;
	font-family: Helvetica, Arial, sans-serif;
}

.dialog-form label.required {
	font-weight: bold;
}

.dialog-form label.required:after {
	color: red;
	content: "*";
	font-weight: bold;
	font-family: Verdana;
	padding-left: 3px;
	line-height: 16px;
}

.dialog-form label.primary {
	padding-top: 15px; 
	color: #3E576F;
	font-size: 16px;
	line-height: 1.4;
	display: block;
	margin: 0 0 .3em;
}
 
.dialog-form label.secondary {
	color: #6D869F;
	font-size: 12px;
	line-height: 1.4;
	display: block;
	margin: 0 0 .3em;
}
 
.dialog-form label.error, .dialog-form div.error {
	color: #C41F0D;	 
}

.dialog-form input {
	padding-left: 0;
	padding-right: 0;
}

.dialog-form select {
	width: 100%;
	padding: 5px;
	font-size: 16px;
	margin: 5px 0;
}

.dialog-form-body .ui-input-text input {
	border: none;
	width: 100%;
	padding: .4em 0;
	margin: 0;
	display: block;
	background: rgba(0, 0, 0, 0) none;
	outline: 0 !important;
	min-height: 1.4em;
	line-height: 1.4em;
	font-size: 16px;
}

.dialog-form .validation-errors {
	color: #C41F0D;
	font-weight: bold;
}