#set($subject = "Tracktacular password reset")
#set($from = "webmaster@tracktacular.com")
#set($fromAlias = "Tracktacular")

#parse("AbstractEmailHeader_en.vm")

	#set($title = "Your password has been reset" )
	
	#contentStart($title)
	
		Greetings ${credentials.username}, it seems you've misplaced your password!
	
		<br />
		<br />
		
		We've taken the liberty of resetting your password for you. Please change it in your
		account settings as soon as you can - this password is not safe! And its probably hard
		to remember.
		
		<br/>
		<br/>
		
		Your temporary password is: <strong>${resetPassword}</strong>
						
	#contentEnd

#parse("AbstractEmailFooter_en.vm")