<table width="100%" cellpadding="10" style="border: 1px solid #C0C0C0;">

	<tr>
		<td style="font-size: large; font-weight: bold;" align="left" bgcolor="#C6D5DF">Books Report</td>
	</tr>
	
	#if(!$trackerReport.enabled)
		<tr>
			<td>
			   You have no books in your library.    
			</td>
		</tr>
	#else
		<tr cellpadding="5">
			<td align="left" bgcolor="#e3eaf0">
			   $trackerReport.bookCount #if($trackerReport.bookCount == 1) Book #else Books #end in your Library	
			</td>
		</tr>
		
		#foreach($book in $trackerReport.targetDateBooks)
	        <tr cellpadding="5">
				<td align="left" bgcolor="#FFCBCB">
				 	The target date for book <i>${book.title}</i> is today!
				</td>
			</tr>
        #end
		
		#foreach($chapter in $trackerReport.targetDateChapters)
	        <tr cellpadding="5">
				<td align="left" bgcolor="#FFCBCB">
				 	The target date for chapter <i>${chapter.title}</i> is today!
				</td>
			</tr>
        #end
		
		<tr>
			<td>
				<a href="https://www.tracktacular.com/user-${tracktacularReport.username}/tracker-book/books/by-title">By Title</a>
			    <a href="https://www.tracktacular.com/user-${tracktacularReport.username}/tracker-book/books/by-author">By Author</a>
			    <a href="https://www.tracktacular.com/user-${tracktacularReport.username}/tracker-book/books/by-tag">By Tag</a>
			    <a href="https://www.tracktacular.com/user-${tracktacularReport.username}/tracker-book/books/by-rating">By Rating</a>
			</td>
		</tr>
		
		#if($trackerReport.unratedBookCount > 0)
			<tr>
				<td>
					<b>
						$trackerReport.unratedBookCount Unrated #if($trackerReport.unratedBookCount == 1) Book #else Books #end
					</b>
				</td>
			</tr>
			
			#foreach($book in $trackerReport.unratedBooks )
	 			<tr>
					<td>
						$book.title <br/>
						<i>$book.author</i> <br/>
						#if($book.tag)<span style="font-size: small">$book.tag</span>#end 
					</td>
				</tr>
			#end
			
		#end
		
	#end
	
</table>	