<table width="100%" cellpadding="10" style="border: 1px solid #C0C0C0;">

	<tr>
		<td style="font-size: large; font-weight: bold;" align="left" bgcolor="#C6D5DF">Budgets Report</td>
	</tr>
	
	#if(!$trackerReport.enabled)
		<tr>
			<td>
			   You have no active budgets.     
			</td>
		</tr>
	#else
		<tr cellpadding="5">
			<td align="left" bgcolor="#e3eaf0">
			   $trackerReport.activeBudgetsCount Active #if($trackerReport.activeBudgetsCount == 1) Budget #else Budgets #end
			</td>
		</tr>
		<tr>
			<td>
				#foreach($budget in $trackerReport.activeBudgetsList )
		 			<a href="https://www.tracktacular.com/user-${tracktacularReport.username}/tracker-budget/budget-$budget.uid/$budget.nameSlug">$budget.name</a>
			  	#end
			</td>
		</tr>
	#end
	
</table>	