<table width="100%" cellpadding="10" style="border: 1px solid #C0C0C0;">

	<tr>
		<td style="font-size: large; font-weight: bold;" align="left" bgcolor="#C6D5DF">Blood Pressure Report</td>
	</tr>
	
	#if(!$trackerReport.enabled)
		<tr>
			<td>
			   You have no blood pressure entries. 
			</td>
		</tr>
	#else
		<tr cellpadding="5">
			<td align="left" bgcolor="#e3eaf0">
			   Your Next Recommended Test Date is 
			    $dateTool.format('MMM d, yyyy', $trackerReport.recommendedTestDate.millis)
			</td>
		</tr>
		
		#if($trackerReport.alerts)
	        <tr cellpadding="5">
				<td align="left" bgcolor="#FFCBCB">
				   Your recommended test date is overdue!
				</td>
			</tr>
        #end
        
		<tr>
			<td>
			   <b>Systolic Pressure:</b> $trackerReport.bloodPressure.systolic
			</td>
		</tr>
		<tr>
			<td>
			   <b>Diastolic  Pressure:</b> $trackerReport.bloodPressure.diastolic
			</td>
		</tr>
		
	#end
	
</table>	